@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

.font-dancing {
  font-family: "Dancing Script", cursive;
}



html {
  scroll-padding-top: 80px; /* or match your header height */
}
html, body {
  overflow-x: hidden !important;
  width: 100%;
}
* {
  max-width: 100% !important;
}


@keyframes fadeFloat {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  50% {
    opacity: 1;
    transform: translateY(-3px) scale(1);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

.animate-fade-float {
  animation: fadeFloat 1.8s ease-out forwards;
}


/* ANIMATED BACKGROUND */
@keyframes bgMove {
  0% {
    background-position: center top;
    background-size: 105%;
  }
  50% {
    background-position: center 20%;
    background-size: 110%;
  }
  100% {
    background-position: center top;
    background-size: 105%;
  }
}

.bg-animated {
  animation: bgMove 12s ease-in-out infinite;
}
