@import "tailwindcss";
/* Put Google fonts inside base layer */
@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

  .font-pacifico {
    font-family: "Pacifico", cursive;
  }

  .font-dancing {
    font-family: "Dancing Script", cursive;
  }
}
/* GLOBAL FIXES */
html {
  scroll-padding-top: 80px;
}

/* GLOBAL FONT: Times New Roman for entire website */
* {
  font-family: "Times New Roman", Times, serif !important;
}


html,
body {
  overflow-x: hidden !important;
  width: 100%;
}

* {
  max-width: 100% !important;
}

/* FLOAT ANIMATION */
@keyframes fadeFloat {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  50% {
    opacity: 1;
    transform: translateY(-3px) scale(1);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

.animate-fade-float {
  animation: fadeFloat 1.8s ease-out forwards;
}

/* BACKGROUND ANIMATION */
@keyframes bgMove {
  0% {
    background-position: center top;
    background-size: 105%;
  }
  50% {
    background-position: center 20%;
    background-size: 110%;
  }
  100% {
    background-position: center top;
    background-size: 105%;
  }
}

.bg-animated {
  animation: bgMove 12s ease-in-out infinite;
}
